<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHLSYhvmWkudB56_V707uWfU8jILXWSOI</string>
	<key>GCM_SENDER_ID</key>
	<string>25283638650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flipperdevices.main</string>
	<key>PROJECT_ID</key>
	<string>flipper-zero-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flipper-zero-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25283638650:ios:3755be49133c06437812c3</string>
</dict>
</plist>