<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flipper</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Infrared Key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.flipperdevices.ir</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>RFID Key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.flipperdevices.rfid</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SubGhz Key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.flipperdevices.sub</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NFC Key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.flipperdevices.nfc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>iButton Key</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.flipperdevices.ibutton</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Update Bundle</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.flipperdevices.main</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flipper</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>COUNTLY_APP_KEY</key>
	<string>$(XC_COUNTLY_APP_KEY)</string>
	<key>SENTRY_KEY</key>
	<string>$(XC_SENTRY_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>NFC is required to read tags</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This will allow Flipper app to connect to your Flipper Device</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This will allow Flipper app to connect to your Flipper Device</string>
	<key>NSSiriUsageDescription</key>
	<string>To control Flipper</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>PlayAlertIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Born2bSportyV2.ttf</string>
		<string>HaxrCorpNeue.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Infrared Key</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>infrared.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.flipperdevices.ir</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ir</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RFID Key</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>rfid.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.flipperdevices.rfid</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rfid</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SubHz Key</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>subhz.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.flipperdevices.sub</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sub</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NFC Key</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>nfc.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.flipperdevices.nfc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nfc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iButton Key</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>ibutton.png</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.flipperdevices.ibutton</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ibtn</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
